<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.stone.emeraldcomponentsandroid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CounterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.PagerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.CalendarActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.ButtonActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.MaskedEditTextActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.InputActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.AutoCompleteActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.SpinnerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.DateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.LabelActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.EndlessRecyclerActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activities.HideableLabelActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>